
/**
 * Garland, for Drupal 6.x
 * Stefan Nagtegaal, iStyledThis [dot] nl
 * Steven Wittens, acko [dot] net`
 *
 * If you use a customized color scheme, you must regenerate it after
 * modifying this file.
 */

/**
 * Generic elements
 */
body {
  margin: 0;
  padding: 0;
  background-image: url(images/body_bg.jpg);
	background-repeat:repeat-x;
	 background-position:center bottom;
	 background-color:#afccd0;
  font: 12px/170% Verdana, sans-serif;
  color: #494949;
}

input {
  font: 12px/100% Verdana, sans-serif;
  color: #494949;
}

textarea, select {
  font: 12px/160% Verdana, sans-serif;
  color: #494949;
}

.title, .title a, .title a:link, .title a:visited{
	font-weight:bold;
	color:#AFCCD0;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family:Georgia;
  color:#D789BA;
}

h1 {
	font-size: 200%;
}

h2 {
  font-size: 160%;
  line-height: 130%;
}

h3 {
  font-size: 140%;
}

h4 {
  font-size: 130%;
}

h5 {
  font-size: 120%;
}

h6 {
  font-size: 110%;
}

ul, quote, code, fieldset {
  margin: .5em 0;
}

p {
  margin: 0.6em 0 1.2em;
  padding: 0;
}

a:link, a:visited {
  color: #D789BA;
  text-decoration: none;
}

a:hover {
  color: #D789BA;
  text-decoration: underline;
}

a:active, a.active {
  color: #D789BA;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1;
}

ul {
  margin: 0.5em 0 1em;
  padding: 0;
}

ol {
  margin: 0.75em 0 1.25em;
  padding: 0;
}

ol li, ul li {
  margin: 0.4em 0 0.4em .5em; /* LTR */
}

ul.menu, .item-list ul {
  margin: 0.35em 0 0 -0.5em; /* LTR */
  padding: 0;
}

ul.menu ul, .item-list ul ul {
  margin-left: 0em; /* LTR */
}

ol li, ul li, ul.menu li, .item-list ul li, li.leaf {
  margin: 0.15em 0 0.15em .5em; /* LTR */
}

ul li, ul.menu li, .item-list ul li, li.leaf {
  padding: 0 0 .2em 1.5em;
  list-style-type: none;
  list-style-image: none;
  background: transparent url(images/menu-leaf.gif) no-repeat 1px .35em; /* LTR */
}

ol li {
  padding: 0 0 .3em;
  margin-left: 2em; /* LTR */
}

ul li.expanded {
  background: transparent url(images/menu-expanded.gif) no-repeat 1px .35em; /* LTR */
}

ul li.collapsed {
  background: transparent url(images/menu-collapsed.gif) no-repeat 0px .35em; /* LTR */
}

ul li.leaf a, ul li.expanded a, ul li.collapsed a {
  display: block;
}

ul.inline li {
  background: none;
  margin: 0;
  padding: 0 1em 0 0; /* LTR */
}

ol.task-list {
  margin-left: 0; /* LTR */
  list-style-type: none;
  list-style-image: none;
}
ol.task-list li {
  padding: 0.5em 1em 0.5em 2em; /* LTR */
}
ol.task-list li.active {
  background: transparent url(images/task-list.png) no-repeat 3px 50%; /* LTR */
}
ol.task-list li.done {
  color: #393;
  background: transparent url(../../misc/watchdog-ok.png) no-repeat 0px 50%; /* LTR */
}
ol.task-list li.active {
  margin-right: 1em; /* LTR */
}

fieldset ul.clear-block li {
  margin: 0;
  padding: 0;
  background-image: none;
}

dl {
  margin: 0.5em 0 1em 1.5em; /* LTR */
}

dl dt {
}

dl dd {
  margin: 0 0 .5em 1.5em; /* LTR */
}

img, a img {
  border: none;
}

table {
  margin: 1em 0;
  width: 100%;
}

thead th {
  border-bottom: 2px solid #d3e7f4;
  color: #494949;
  font-weight: bold;
}

th a:link, th a:visited {
  color: #6f9dbd;
}

td, th {
  padding: .3em .5em;
}

tr.even, tr.odd, tbody th {
  border: solid #d3e7f4;
  border-width: 1px 0;
}

tr.odd, tr.info {
  background-color: #edf5fa;
}

tr.even {
  background-color: #fff;
}

tr.drag {
  background-color: #fffff0;
}

tr.drag-previous {
  background-color: #ffd;
}

tr.odd td.active {
  background-color: #ddecf5;
}

tr.even td.active {
  background-color: #e6f1f7;
}

td.region, td.module, td.container, td.category {
  border-top: 1.5em solid #fff;
  border-bottom: 1px solid #b4d7f0;
  background-color: #d4e7f3;
  color: #455067;
  font-weight: bold;
}

tr:first-child td.region, tr:first-child td.module, tr:first-child td.container, tr:first-child td.category {
  border-top-width: 0;
}

span.form-required {
  color: #ffae00;
}

span.submitted, .description {
  font-size: 0.92em;
  color: #898989;
}

.description {
  line-height: 150%;
  margin-bottom: 0.75em;
  color: #898989;
}

.messages, .preview {
  margin: .75em 0 .75em;
  padding: .5em 1em;
}

.messages ul {
  margin: 0;
}

.form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item {
  margin: 0.25em 0;
}

#center form {
  margin-bottom: 2em;
}

.form-button, .form-submit {
  margin: 2em 0.5em 1em 0; /* LTR */
}

#dblog-form-overview .form-submit,
.confirmation .form-submit,
.search-form .form-submit,
.poll .form-submit,
fieldset .form-button, fieldset .form-submit,
.sidebar .form-button, .sidebar .form-submit,
table .form-button, table .form-submit {
  margin: 0;
}

.box {
  margin-bottom: 2.5em;
}

/**
 * Layout
 */
#header-region {
  min-height: 1em;
  background: #d2e6f3 url(images/bg-navigation.png) repeat-x 50% 100%;
}

#header-region .block {
  display: block;
  margin: 0 1em;
}

#header-region .block-region {
  display: block;
  margin: 0 0.5em 1em;
  padding: 0.5em;
  position: relative;
  top: 0.5em;
}

#header-region * {
  display: inline;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}

/* Prevent the previous directive from showing the content of script elements in Mozilla browsers. */
#header-region script {
  display: none;
}

#header-region p, #header-region img {
  margin-top: 0.5em;
}

#header-region h2 {
  margin: 0 1em 0 0; /* LTR */
}

#header-region h3, #header-region label, #header-region li {
  margin: 0 1em;
  padding: 0;
  background: none;
}

#wrapper {
  background: #edf5fa url(images/body.png) repeat-x 50% 0;
}

#wrapper #container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1270px;
}

#wrapper #container #header {
  height: 80px;
}

#wrapper #container #header #logo-floater {
  position: absolute;
}

#wrapper #container #header h1, #wrapper #container #header h1 a:link, #wrapper #container #header h1 a:visited {
  line-height: 120px;
  position: relative;
  z-index: 2;
  white-space: nowrap;
}

#wrapper #container #header h1 span {
  font-weight: bold;
}

#wrapper #container #header h1 img {
  padding-top: 16px;
  padding-right: 20px; /* LTR */
  float: left; /* LTR */
}

/* With 3 columns, require a minimum width of 1000px to ensure there is enough horizontal space. */
body.sidebars {
  min-width: 980px;
}
/* With 2 columns, require a minimum width of 800px. */
body.sidebar-left, body.sidebar-right {
  min-width: 780px;
}

/* We must define 100% width to avoid the body being too narrow for near-empty pages */
.Wraper .Midalwraper #center {
  float: left;
  width: 100%;
}

/* So we move the #center container over the sidebars to compensate */
body.sidebar-left #center {
  margin-left: -210px;
}
body.sidebar-right #center {
  margin-right: -210px;
}
body.sidebars #center {
  margin: 0 -210px;
}

/* And add blanks left and right for the sidebars to fill */
#sidebar-right{
	padding-bottom:190px;
	background:url(images/right_bg.jpg) no-repeat top left;
	padding-top:15px;
}

#sidebar-left{
	padding-bottom:240px;
	background:url(images/right_bg.jpg) no-repeat top right;
	padding-top:15px;
}

#squeeze{
	padding-bottom:240px;
}

body.sidebar-left #squeeze {
  margin-left: 210px;
}
body.sidebar-right #squeeze {
  margin-right: 210px;
}
body.sidebars #squeeze {
  margin: 0 210px;
}

/* We ensure the sidebars are still clickable using z-index */
.Wraper .Midalwraper .sidebar {
  width: 210px;
  float: left;
  z-index: 2;
  position: relative;
  font-family:Trebuchet MS;
  font-size:14px;
}

.Wraper .Midalwraper .sidebar .title{
	color:#D789BA;
	font-family:Trebuchet MS;
	font-size:22px;
}

.Wraper .Midalwraper .sidebar .block {
  margin: 0 0 1.5em 0;
}

#sidebar-left .block {
  padding: 0 50px 0 0px;
}

#sidebar-right .block {
  padding: 0 12px 0 50px;
}

.block .content {
  margin: 0.5em 0;
}

#sidebar-left .block-region {
  margin: 0 15px 0 0px; /* LTR */
}

#sidebar-right .block-region {
  margin: 0 0px 0 15px; /* LTR */
}

.block-region {
  padding: 1em;
  background: transparent;
  border: 2px dashed #b4d7f0;
  text-align: center;
  font-size: 1.3em;
}

/* Now we add the backgrounds for the main content shading */

#wrapper #container #footer {
  float: none;
  clear: both;
  text-align: center;
  margin: 4em 0 -3em;
  color: #898989;
}

.breadcrumb {
	font-family:verdana;
	font-size:12px;
	font-weight:normal;
	color:#c54e9d;
	background:url(images/bg_home.jpg) repeat-x left bottom;
	margin-bottom:7px;
}

.breadcrumb a, .breadcrumb a:hover, .breadcrumb a:visited{
	color:#c54e9d;
}

body.sidebar-left #footer {
  margin-left: -210px;
}

body.sidebar-right #footer {
  margin-right: -210px;
}

body.sidebars #footer {
  margin: 0 -210px;
}

/**
 * Header
 */
#wrapper #container #header h1, #wrapper #container #header h1 a:link, #wrapper #container #header h1 a:visited {
  color: #fff;
  font-weight: normal;
  text-shadow: #1659ac 0px 1px 3px;
  font-size: 1.5em;
}

#wrapper #container #header h1 a:hover {
  text-decoration: none;
}

#wrapper #container .breadcrumb {
  font-size: 0.92em;
}

#wrapper #container .breadcrumb, #wrapper #container .breadcrumb a {
  color: #529ad6;
}

#mission {
  padding: 1em;
  background-color: #fff;
  border: 1px solid #e0e5fb;
  margin-bottom: 2em;
}

/**
 * Primary navigation
 */
ul.primary-links {
  margin: 0;
  padding: 0;
  float: right; /* LTR */
  position: relative;
  z-index: 4;
}

ul.primary-links li {
  margin: 0;
  padding: 0;
  float: left; /* LTR */
  background-image: none;
}

ul.primary-links li a, ul.primary-links li a:link, ul.primary-links li a:visited {
  display: block;
  margin: 0 1em;


}

ul.primary-links li a:hover, ul.primary-links li a.active {


}

/**
 * Secondary navigation
 */
ul.secondary-links {
  margin: 0;
  padding: 18px 0 0;
  float: right; /* LTR */
  clear: right; /* LTR */
  position: relative;
  z-index: 4;
}

ul.secondary-links li {
  margin: 0;
  padding: 0;
  float: left; /* LTR */
  background-image: none;
}

ul.secondary-links li a, ul.secondary-links li a:link, ul.secondary-links li a:visited {
  display: block;
  margin: 0 1em;
  padding: .75em 0 0;
  color: #cde3f1;
  background: transparent;
}

ul.secondary-links li a:hover, ul.secondary-links li a.active {
  color: #cde3f1;
  background: transparent;
}

/**
 * Local tasks
 */
ul.primary, ul.primary li, ul.secondary, ul.secondary li {
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
}

#tabs-wrapper {
  border-bottom: 1px solid #e9eff3;
  position: relative;
}
ul.primary {
  padding: 0.5em 0 10px;
  float: left; /* LTR */
}
ul.secondary {
  clear: both;
  text-align: left; /* LTR */
  border-bottom: 1px solid #e9eff3;
}
h2.with-tabs {
  float: left; /* LTR */
  margin: 0 2em 0 0; /* LTR */
  padding: 0;
}

ul.primary li a, ul.primary li.active a, ul.primary li a:hover, ul.primary li a:visited,
ul.secondary li a, ul.secondary li.active a, ul.secondary li a:hover, ul.secondary li a:visited {
  border: 0;
  background: transparent;
  padding: 4px 1em;
  margin: 0 0 0 1px; /* LTR */
  height: auto;
  text-decoration: none;
  position: relative;
  top: -1px;
}
ul.primary li.active a, ul.primary li.active a:link, ul.primary li.active a:visited, ul.primary li a:hover,
ul.secondary li.active a, ul.secondary li.active a:link, ul.secondary li.active a:visited, ul.secondary li a:hover {
  background: url(images/bg-tab.png) repeat-x 0 50%;
  color: #fff;
}
ul.primary li.active a,
ul.secondary li.active a {
  font-weight: bold;
}

/**
 * Nodes & comments
 */
.node {

  
}

ul.links li, ul.inline li {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0; /* LTR */
  padding-right: 1em; /* LTR */
  background-image: none;
}

.node .links, .comment .links {
  text-align: left; /* LTR */
}

.node .links ul.links li, .comment .links ul.links li {}
.terms ul.links li {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 1em;
}

.picture, .comment .submitted {
  float: right; /* LTR */
  clear: right; /* LTR */
  padding-left: 1em; /* LTR */
}

.new {
  color: #ffae00;
  font-size: 0.92em;
  font-weight: bold;
  float: right; /* LTR */
}

.terms {
  float: right; /* LTR */
}

.preview .node, .preview .comment, .sticky {
  margin: 0;
  padding: 0.5em 0;
  border: 0;
  background: 0;
}

.sticky {
  padding: 1em;
  background-color: #fff;
  border: 1px solid #e0e5fb;
  margin-bottom: 2em;
}

#comments {
  position: relative;
  top: -1px;
  border-bottom: 1px solid #e9eff3;
  margin: -1.5em -25px 0;
  padding: 0 25px;
}

#comments h2.comments {
  margin: 0 -25px;
  padding: .5em 25px;
  background: #fff url(images/gradient-inner.png) repeat-x 0 0;
}

.comment {
  margin: 0 -25px;
  padding: 1.5em 25px 1.5em;
  border-top: 1px solid #e9eff3;
}

.indented {
  margin-left: 25px; /* LTR */
}

.comment h3 a.active {
  color: #494949;
}

.node .content, .comment .content {
  margin: 0.6em 0;
}

/**
 * Aggregator.module
 */
#aggregator {
  margin-top: 1em;
}
#aggregator .feed-item-title {
  font-size: 160%;
  line-height: 130%;
}
#aggregator .feed-item {
  border-bottom: 1px solid #e9eff3;
  margin: -1.5em -31px 1.75em;
  padding: 1.5em 31px;
}
#aggregator .feed-item-categories {
  font-size: 0.92em;
}
#aggregator .feed-item-meta {
  font-size: 0.92em;
  color: #898989;
}

/**
 * Color.module
 */
#palette .form-item {
  border: 1px solid #fff;
}
#palette .item-selected {
  background: #fff url(images/gradient-inner.png) repeat-x 0 0;
  border: 1px solid #d9eaf5;
}

/**
 * Menu.module
 */
tr.menu-disabled {
  opacity: 0.5;
}
tr.odd td.menu-disabled {
  background-color: #edf5fa;
}
tr.even td.menu-disabled {
  background-color: #fff;
}

/**
 * Poll.module
 */
.poll .bar {
  background: #fff url(images/bg-bar-white.png) repeat-x 0 0;
  border: solid #f0f0f0;
  border-width: 0 1px 1px;
}

.poll .bar .foreground {
  background: #71a7cc url(images/bg-bar.png) repeat-x 0 100%;
}

.poll .percent {
  font-size: .9em;
}

/**
 * Autocomplete.
 */
#autocomplete li {
  cursor: default;
  padding: 2px;
  margin: 0;
}

/**
 * Collapsible fieldsets
 */
fieldset {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #d9eaf5;
  background: #fff url(images/gradient-inner.png) repeat-x 0 0;
}

/* Targets IE 7. Fixes background image in field sets. */
*:first-child+html fieldset {
  padding: 0 1em 1em;
  background-position: 0 .75em;
  background-color: transparent;
}

*:first-child+html fieldset > .description, *:first-child+html fieldset .fieldset-wrapper .description {
  padding-top: 1em;
}

fieldset legend {
  /* Fix disappearing legend in FFox */
  display: block;
}

*:first-child+html fieldset legend, *:first-child+html fieldset.collapsed legend {
  display: inline;
}

html.js fieldset.collapsed {
  background: transparent;
  padding-top: 0;
  padding-bottom: .6em;
}

html.js fieldset.collapsible legend a {
  padding-left: 2em; /* LTR */
  background: url(images/menu-expanded.gif) no-repeat 0% 50%; /* LTR */
}

html.js fieldset.collapsed legend a {
  background: url(images/menu-collapsed.gif) no-repeat 0% 50%; /* LTR */
}

/**
 * Syndication icons and block
 */
#block-node-0 h2 {
  float: left; /* LTR */
  padding-right: 20px; /* LTR */
}

#block-node-0 img, .feed-icon {
  float: right; /* LTR */
  padding-top: 4px;
}

#block-node-0 .content {
  clear: right; /* LTR */
}

/**
 * Login Block
 */
#user-login-form {
  text-align: left;
}
#user-login-form ul {
  text-align: left; /* LTR */
}

#user-login-form label{
	font-size:14px;
	color:#D789BA;
	font-weight:normal;
}

#user-login-form .form-item{
	margin:0px;
}

#user-login-form input.form-text{
	background-color:#afccd0; border-top: solid 1px #799397; border-left: solid 1px #799397; border-bottom: none; border-right: none;
	width:98%;
}

#user-login-form input.form-submit{
	width:60px; background-color:#afccd0; font-size:11px; border-right: solid 1px #799397; border-bottom:  solid 1px #799397; border-top: none; border-left: none; padding-top:5px; padding-bottom:5px; color:#fff; font-weight:bold; float:right;
	font-weight:normal;
}

#user-login-form .item-list{
	clear:both;
	color:#9BC43B;
	font-size:11px;
	text-align:right;
}

#user-login-form .item-list ul li{
	margin:0px;
	padding:0px;
	background:none;
	text-align:right;
	line-height:normal;
}

#user-login-form .item-list ul li a{
	color:#9BC43B;
}


/**
*
	Search
*/

#search-block-form label{
	font-size:14px;
	color:#D789BA;
	font-weight:normal;
}

#search-block-form input.form-text{
	background-color:#afccd0; border-top: solid 1px #799397; border-left: solid 1px #799397; border-bottom: none; border-right: none;
	width:100%;
}

#search-block-form input.form-submit{
	width:60px; background-color:#afccd0; font-size:11px; border-right: solid 1px #799397; border-bottom:  solid 1px #799397; border-top: none; border-left: none; padding-top:5px; padding-bottom:5px; color:#fff; font-weight:bold; float:right;
	font-weight:normal;
}


/**
 * User profiles.
 */
.profile {
  margin-top: 1.5em;
}
.profile h3 {
  border-bottom: 0;
  margin-bottom: 1em;
}
.profile dl {
  margin: 0;
}
.profile dt {
  font-weight: normal;
  color: #898989;
  font-size: 0.92em;
  line-height: 1.3em;
  margin-top: 1.4em;
  margin-bottom: 0.45em;
}
.profile dd {
  margin-bottom: 1.6em;
}

/**
 * Admin Styles
 */
div.admin-panel,
div.admin-panel .description,
div.admin-panel .body,
div.admin,
div.admin .left,
div.admin .right,
div.admin .expert-link,
div.item-list,
.menu {
  margin: 0;
  padding: 0;
}

div.admin .left {
  float: left; /* LTR */
  width: 48%;
}
div.admin .right {
  float: right; /* LTR */
  width: 48%;
}

div.admin-panel {
  background: #fff url(images/gradient-inner.png) repeat-x 0 0;
  padding: 1em 1em 1.5em;
}
div.admin-panel .description {
  margin-bottom: 1.5em;
}
div.admin-panel dl {
  margin: 0;
}
div.admin-panel dd {
  color: #898989;
  font-size: 0.92em;
  line-height: 1.3em;
  margin-top: -.2em;
  margin-bottom: .65em;
}

table.system-status-report th {
  border-color: #d3e7f4;
}

#autocomplete li.selected, tr.selected td, tr.selected td.active {
  background: #027ac6;
  color: #fff;
}

tr.selected td a:link, tr.selected td a:visited, tr.selected td a:active {
  color: #d3e7f4;
}

tr.taxonomy-term-preview {
  opacity: 0.5;
}

tr.taxonomy-term-divider-top {
  border-bottom: none;
}

tr.taxonomy-term-divider-bottom {
  border-top: 1px dotted #CCC;
}

/**
 * CSS support
 */

/*******************************************************************
 * Color Module: Don't touch                                       *
 *******************************************************************/

/**
 * Generic elements.
 */
.messages {
  background-color: #fff;
  border: 1px solid #b8d3e5;
}

.preview {
  background-color: #fcfce8;
  border: 1px solid #e5e58f;
}

div.status {
  color: #33a333;
  border-color: #c7f2c8;
}

div.error, tr.error {
  color: #a30000;
  background-color: #FFCCCC;
}

.form-item input.error, .form-item textarea.error {
  border: 1px solid #c52020;
  color: #363636;
}

/**
 * dblog.module
 */
tr.dblog-user {
  background-color: #fcf9e5;
}

tr.dblog-user td.active {
  background-color: #fbf5cf;
}

tr.dblog-content {
  background-color: #fefefe;
}

tr.dblog-content td.active {
  background-color: #f5f5f5;
}

tr.dblog-warning {
  background-color: #fdf5e6;
}

tr.dblog-warning td.active {
  background-color: #fdf2de;
}

tr.dblog-error {
  background-color: #fbe4e4;
}

tr.dblog-error td.active {
  background-color: #fbdbdb;
}
tr.dblog-page-not-found, tr.dblog-access-denied {
  background: #d7ffd7;
}
tr.dblog-page-not-found td.active, tr.dblog-access-denied td.active {
  background: #c7eec7;
}

/**
 * Status report colors.
 */
table.system-status-report tr.error, table.system-status-report tr.error th {
  background-color: #fcc;
  border-color: #ebb;
  color: #200;
}
table.system-status-report tr.warning, table.system-status-report tr.warning th {
  background-color: #ffd;
  border-color: #eeb;
}
table.system-status-report tr.ok, table.system-status-report tr.ok th {
  background-color: #dfd;
  border-color: #beb;
}



/****************************************************************************************************************************************************************/

.Wraper{width:100%; background-image:url(images/bg_wrp.jpg); background-position:top; background-repeat:repeat-x}

.Maincontiner{width:769px; margin:auto;}

.Headerwraper{width:769px; height:95px; clear:both; background-image:url(images/bg_header.jpg); background-repeat:no-repeat}

.Logowraper{height:50px; float:left; padding-top:10px; padding-left:160px; font-family:Georgia; font-size:30px; color:#afccd0; line-height:normal;}

.Logowraper a, .Logowraper a:hover, .Logowraper a:visited{color:#AFCCD0;}

.Rightlinkswraper{width:700px; height:25px; float:right; padding-top:8px; padding-right:54px; font-family:Georgia; font-size:14px; color:#afccd0;}

.Rightlinkswraper ul.primary-links li{
	border-left:#AFCCD0 1px solid;
	padding-left:5px;
	padding-right:5px;
}

.Rightlinkswraper ul.primary-links li.first{
	border:none;
}

.Rightlinkswraper ul.primary-links li a{
background:none;
color:#AFCCD0;
padding:0px;
margin:0px;
line-height:normal;

}

.Midalwraper{width:769px; clear:both; background-image:url(images/drupal_interface1.gif); background-position:0px 0px; background-repeat:repeat-y;}

.Midalcontiner{width:769px; margin:auto;  clear:both; background-image:url(images/drupal_interface.png); background-position:bottom; background-repeat:no-repeat;  text-align:left;}

* HTML .Midalcontiner{background-image:url(images/drupal_interface.gif);}


.Leftmaincontiner{width:465px; float:left; padding-bottom:200px; padding-left:14px;}

.Homelinkscontiner{ background-image:url(images/bg_home.jpg); background-repeat:repeat-x; background-position:bottom; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#cd65aa; width:456px; height:22px; clear:both; }


.Headingcontiner{ padding-top:9px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#c5c0c2; width:auto; height:auto; clear:both; line-height:23px; margin-bottom:34px; }

.Thesun{ clear:both; height:100%; overflow:auto; overflow:hidden; margin-left:34px; background-image:url(images/bg_prpul.jpg); background-repeat:no-repeat; background-position:left top; padding-left:41px; }


.Textcontiner{ float:left;  height:auto; width:auto}

.Textheadingcontiner{ clear:both; background-image:url(images/bg_brownm.jpg); font-family:Georgia; font-size:24px; color:#7b3a4f; line-height:10px; background-repeat:repeat-x; background-position:bottom; height:36px; padding-top:5px; width:389px;}



.Datecontiner{ clear:both; height:auto; padding-top:8px; padding-bottom:15px;}

.Datecontiner1{ font-family:Tahoma; font-size:11px; color:#bad3d6; float:left; height:auto; width:150px;}

.Datecontiner2{ font-family:Tahoma; text-align:right; font-size:11px; color:#bad3d6; float:right; height:auto; width:150px;}

.Textcontiner2{ width:auto; height:auto; clear:both; font-family:Tahoma; font-size:12px; color:#867c81; padding-top:10px;}

.Datecontiner2 img{ padding-right:10px;}


.Maintextcontiner{ margin-top:13px; font-family:Verdana; font-size:12px; color:#40313b; padding-left:34px; width:auto; height:auto; clear:both; background-image:url(images/img_flr.jpg); background-repeat:no-repeat; background-position:left top}


.prime-menu2{
	clear:both;
	margin-top:0px;
}

.prime-menu2 ul{
	margin:0px;
	padding:0px 0px 0px  0px;
	display:list-item;
	width:auto; 
	padding-right:10px;
	padding-top:4px;
	list-style-type:none;
}

.prime-menu2 ul li{
	margin:0px 0px 0 0;
	width:auto;
	clear:both;
	display:list-item;
	color:#d789ba;
	font-family:Arial Narrow;
	line-height:25px;
	font-family: Trebuchet MS;
	font-size: 14px;


}
 

.prime-menu2 ul li a{
	margin:0px;
	text-decoration:none;
	color:#d789ba;



}

.prime-menu12 ul li a:visited{
	color:#d789ba;

}


.prime-menu12 ul li a:hover{
	text-decoration:none;
	color:#d789ba;
    text-decoration:underline;
}

.Maintextcontiner a{ font-family:Trebuchet MS; color:#d789ba; text-decoration:none; font-size:14px;}


.Rightmaincontiner{ padding-left:50px; width:170px; float:right; padding-bottom:100px; background-image:url(images/right_bg.jpg);; background-repeat:no-repeat; background-position:left top}


.Rightmaincontiner .title{ font-family:Trebuchet MS; font-size:22px; color:#d789ba; margin:0px; }

.right-block{ margin-bottom:15px;}

.Midalcontiner1{width:680px; margin:auto;  clear:both; overflow:auto; overflow:hidden; height:100%; padding:0 10px;}


.searchcontiner{ width:auto; height:auto; clear:both;}

.searchcontinerbox{ width:auto; height:auto; clear:both; font-family:Trebuchet MS; font-size:14px; color:#d789ba;}

.searchcontinerbox12{ width:auto; height:auto; clear:both; padding-top:3px; text-align:right; padding-right:25px; font-family:#Trebuchet MS; font-size:11px; color:#9bc43b;}

.But{background-color:#afccd0; border-top: solid 1px #799397; border-left: solid 1px #799397; border-bottom: none; border-right: none}


.But2{width:60px; background-color:#afccd0; font-size:11px; border-right: solid 1px #799397; border-bottom:  solid 1px #799397; border-top: none; border-left: none; padding-top:5px; padding-bottom:5px; color:#fff; font-weight:bold}




.Footerwraper{width:701px; margin:auto; clear:both; background-color:#aa6a7f; text-align:left;}

.footer-content{
	width:650px;
	margin:auto;
}

.Footerwraper .block{
	margin-bottom:10px;
}

.Footerwraper .block .content{
	margin:0px;
}

.Footercontientcontiner{width:200px; float:left; border-right:  solid 1px #FFFFFF; padding-top:18px; padding-left:15px;}

.Footercontientcontiner1{width:200px; float:left; padding-top:18px; padding-left:15px;}

.Latestnews{width:auto; clear:both; height:auto; font-family:Georgia; font-size:24px; color:#FFFFFF}



.prime-menu3{
	clear:both;
	margin-top:0px;
}

.prime-menu3 ul{
	margin:0px;
	padding:0px 0px 0px  0px;
	display:list-item;
	width:auto; 
	padding-right:10px;
	padding-top:4px;
	list-style-type:none;
}

.prime-menu3 ul li{
	margin:0px 0px 0 0;
	width:auto;
	clear:both;
	display:list-item;
	color:#d789ba;
	font-family:Verdana;
	font-size: 11px;
	color:#FFFFFF;
	background-image:url(images/bg_imng.jpg);
	background-position: 0 4px;
	background-repeat:no-repeat;
	padding-left:25px;


}
 

.prime-menu3 ul li a{
	margin:0px;
	text-decoration:none;
	font-family:Trebuchet MS;
	font-size:18px;
	color:#40313b;



}

.prime-menu3 ul li a:visited{
	color:#40313b;

}


.prime-menu13 ul li a:hover{
	text-decoration:none;
	color:#fff;
    text-decoration:underline;
}


.footerlistingcontiner{ width:auto; height:auto; clear:both; }

.Footerbottomlinks{ margin:auto; width:622px; height:39px; clear:both; padding-top:10px;}

.Footerrightcontiner{width:18px; height:auto; float:left }

.Footerleftcontiner{width:18px; height:auto; float:right }

.Footermidalcontiner{width:586px; text-align:right; padding-top:8px; font-family:Trebuchet MS; font-size:14px; color:#FFFFFF;  height:38px; background-image:url(images/bg_footer.jpg); background-repeat:repeat-x; float:left }

.Footermidalcontiner ul.primary-links li{
	border-left:#ffffff 1px solid;
	padding:0px 5px;
	margin:0px;
}

.Footermidalcontiner ul.primary-links li.first{
	border:none;
	line-height:normal;
}

.Footermidalcontiner ul.primary-links li.first a{
	padding:0px;
}

.Footermidalcontiner ul.primary-links li a{
	background:none;
	margin:0px;
	padding:0px;
	line-height:20px;
	font-family:Trebuchet MS; font-size:14px; color:#FFFFFF;
}



.Interface{ width:622px; height:auto; clear:both; padding-top:0px; text-align:right; font-family:Trebuchet MS; font-size:14px; color:#77374c; margin:auto;}