/* $Id$
*/

/* reset
-------------------------------------------------*/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
	margin: 0;
	padding: 0;
}
img, fieldset {
	border: 0;
}
/* reset end
-------------------------------------------------*/

html {
	background: #f4d0a8 url(../images/paper-bg.jpg);
}
body {
	font: .93em/1.5em sans-serif;
	background: url(../images/top-illustration.gif) no-repeat center 0;
	color: #453320;
	word-wrap: break-word;
}
p {
	margin: 0 0 1.2em;
	padding: 0;
}
a {
	color: #126357;
	text-decoration: underline;
	outline: none;
}
a:hover {
	text-decoration: none;
}
small {
	font-size: .86em;
	color: #72614a;
}
em, i {
	font: italic 1.2em sans-serif;
	letter-spacing: .02em;
}
ul, ol {
	margin: 1em 0 1em 24px;
	padding: 0;
	line-height: 120%;
}
li {
	margin: 0 0 .5em 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 2em;
	color: #644527;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.6em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.2em;
}
input, textarea, select {
	font: normal 1em/1.4em sans-serif;
}

input[type=text], input[type=password], textarea {
	background: #fffcd6;
	border: none;
	border-bottom: solid 1px #d1ad80;
	padding: 5px 7px;
	color: #666;
}
textarea:focus, input[type=password]:focus, input[type=text]:focus {
	background: #fff;
	outline: none;
	color: #000;
}
input[type=reset], input[type=submit] {
	background: #000;
	border: none;
	border-bottom: solid 2px #d1ad80;
	color: #fff;
	padding: 4px 15px;
}
input[type=reset]:hover, input[type=submit]:hover {
	background: #e50000;
}


#wrapper {
	width: 980px;
	margin: 0 auto;
}
/* header
-------------------------------------------------*/
#header {
	background: url(../images/header.gif) no-repeat center bottom;
	padding: 65px 0 50px 0;
	position: relative;
}
#header #logo {
	font: bold 3em/1em sans-serif;
	margin: 0;
	letter-spacing: -.05em;
	color: #74685c;
	text-shadow: 0 1px 0 #f7e4c8;
}
#header #logo, #header #logo a {
	text-decoration: none;
	color: #126357;
}
#header #logo a:hover {
	text-decoration: none;
	color: #9F5497;
}
#header .description {
	font: italic 1.3em/1em sans-serif;
	margin: 10px 0 20px;
	color: #67543c;
}
#header .socialmedia a {
	text-decoration: none;
	margin-right: 10px;
	color: #666;
}
#header .socialmedia a:hover {
	color: #e50000;
}
#header .socialmedia img {
	vertical-align: middle;
	margin: 0 6px 5px 0;
}


/* nav */
#nav li:hover > ul {
	display: block;
}

#nav {
	position: absolute;
	bottom: -2px;
	left: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	font: 1.15em/1em sans-serif;
	font-variant: small-caps;
}
#nav li {
	float: left;
	margin: 0 12px 0 0;
	padding: 5px 0 15px 15px;
	position: relative;
}


#nav ul {
	display: none;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 30px;
	background: #494f52 url(../images/dropdown-bg.png) no-repeat;
	border: solid 1px #3c4144;
	margin: 0;
	padding: 5px 0 10px;
	list-style: none;
	font: .76em/1em sans-serif;
	font-variant: normal;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .7);
}
#nav ul li {
	margin: 0;
	padding: 0;
}
#nav ul ul {
	font: 1em/1em sans-serif;
	left: 200px;
	top: -5px;
}


#nav .rss a {
	font-size: .9em;
	background: url(../images/nav-rss.png) no-repeat right  30%;
	padding-right: 20px;
}
#nav a {
	text-decoration: none;
	letter-spacing: -.02em;
}
#nav li a.active, #nav li a:hover {
	color: #e50000;
}
#nav ul li a.active {
	color: #fff;
}
#nav ul a, #nav li.active ul a.active {
	width: 180px;
	color: #f2edc1;
	display: block;
	padding: 5px 10px 5px 12px;
	text-decoration: none;
	letter-spacing: normal;

	text-shadow: 0 1px 1px rgba(0,0,0, .7);
}
#nav ul a:hover, #nav li.current_page_item ul a:hover {
	color: #fff;
	text-decoration: none;
}

#searchform {
	position: absolute;
	bottom: 8px;
	right: 0;
	width: 266px;
}
#searchform .search-input {
	font: .9em/1em sans-serif;
	width: 152px;
	background: #fff;
	border: none;
	padding: 4px 10px;
	margin: 0;
	float: left;
	border: 2px solid #fff;
}
#searchform .search-input:focus {
	outline: none;
	border-color: #e50000;
}
#searchform .search_submit {
	background: #000;
	border: none;
	width: 90px;
	height: 27px;
	padding: 6px 10px;
	margin: 0;
	font: .9em/1em sans-serif;
	text-transform: uppercase;
	color: #fff;
}
#searchform .search_submit:hover {
	background: #e50000;
}

/* content
-------------------------------------------------*/
#content {
	float: left;
	width: 652px;
	margin: 40px 0 70px;
}
.node {
	clear: both;
	padding: 0 0 0 107px;
	margin-bottom: 60px;
	min-height: 100px;
}
.node-date {
	position: absolute;
	margin-left: -107px;
	margin-top: -26px;
	width: 95px;
	font: 1em/1em sans-serif;
	text-align: right;
	color: #5c462e;
	text-shadow: 0 1px 0 #f7e4c8;
}
.node-date span {
	display: block;
}
.node-date .day {
	font-size: 2em;
	font-weight: bold;
	letter-spacing: -.05em;
	padding: 0 0 6px;
}
.node-date .month {
	font-size: .9em;
	line-height: .8em;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.node-date .year {
	font-size: .9em;
	line-height: .8em;
}
.node-date a {
	color: #5c462e;
	text-decoration: none;
}
.node-date a:hover {
	text-decoration: underline;
}
.node-date .nodecomment {
	border-top: solid 1px #483f32;
	margin-top: 8px;
	padding-top: 5px;
	font: .86em/1em sans-serif;
}
.nodecomment a {
	font-weight: bold;
	color: #6e5539;
}

.node-data {
	font-size: .9em;
	line-height: 1.2em;
	color: #9a8770;
	font-style: italic;
	margin: 3px 0 10px;
}
.node-data span {
	margin-right: 10px;
}
.node-data a {
	color: #70604c;
	text-decoration: none;
	font-style: normal;
}
.node-data a:hover {
	text-decoration: underline;
}

.node-title {
	color: #453320;
	font: bold 1.8em/1em sans-serif;
	letter-spacing: -.04em;
	margin: 0 0 5px;
	text-shadow: 0 1px 0 #f7e4c8;
}
.node-title a {
	color: #453320;
	text-decoration: none;
}
.node-title a:hover {
	color: #e50000;
	text-decoration: none;
}

.more-link {
	background: url(../images/more.png) no-repeat 0 0;
	font: 10px/100%  sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	padding: 2px 18px 3px 12px;
	margin-left: 5px;
	color: #baad9d;
}
a.more-link:hover {
	background-position: 0 -83px;
	color: #fbcfcf;
}


/* post nav */
.item-list .pager {
	border-top: 4px double #B09370;
	text-align: left;
	padding: 5px 0;
}

ul.pager li {font: 12px/1.1em sans-serif;
	text-transform: uppercase;
	text-align: center;}

ul.pager li a:hover {
	color: #e50000;
	text-decoration: none;
}


/* comment list */
#comments h2, .box h3.title {
	font: bold 1.6em/1em sans-serif;
	padding: 0;
	margin: 25px 0 15px;
	letter-spacing: -.04em;
	color: #453320;
	
	text-shadow: 0 1px 0 #f7e4c8;
}
#comments em, #respond h4 em {
	font-size: .9em;
	text-shadow: none;
}
#comments h2 {
	border-bottom: 4px double #483f32;
	margin: 35px 0 5px;
	padding-bottom: 10px;
}

.comment-nav {
	font: .8em/1.4em sans-serif;
	text-transform: uppercase;
}
.comment-nav a {
	text-decoration: none;
	color: #70604c;
	font-weight: bold;
}
.comment-nav a:hover {
	color: #000;
}
.comment-nav .previous {
	margin-right: 10px;
}

.comment {
	margin: 0;
	padding: 10px 0 0;
	position: relative;
}

.comment .timestamp {
	position: absolute;
	top: 68px;
	left: -117px;
	width: 105px;
	font: 75%/100% sans-serif;
	text-align: right;
	color: #7c7164;
	padding: 0;
	margin: 0;
}
.comment .timestamp strong {
	display: block;
	padding: 0 0 2px;
	color: #625545;
}
.comment-author {
	padding: 0;
	margin: 0 0 8px;
}
.comment ul .comment-author {
	padding: 0 0 5px;
}
.comment-author small {
	font: .8em/1.3em sans-serif;
	margin-top: 2px;
}
.comment-author cite {
	font: bold 1.3em/1.3em sans-serif;
}
.comment-author cite a {
	text-decoration: none;
}
.comment-author cite a:hover {
	text-decoration: underline;
}
.comment-author .picture {
	position: absolute;
	top: 14px;
	left: -62px;
	background: #000;
	width: 48px;
	height: 48px;
	margin: 0;
	padding: 1px;
	border-bottom: 2px solid #ceab80;
}
.comment-author .picture img {
	width: 48px;
	height: 48px;
}
.commententry {
	clear: both;
	font-size: 95%;
	border-bottom: solid 1px #483f32;
}
.commententry h3 {font-size: 115%;}
.commententry p {
	margin: 0 0 .8em;
	padding: 0;
}

.comment .reply {
	position: absolute;
	top: 14px;
	right: 0;
}
.comment .reply a {
	background: url(../images/reply.png) no-repeat;
	display: block;
	width: 50px;
	height: 17px;
	text-align: center;
	color: #fff;
	font: 10px/1em sans-serif;
	text-transform: uppercase;
	padding: 3px 0 0 6px;
	text-decoration: none;
	color: #baad9d;
}
.reply ul.links li {padding: 0}
.comment .reply a:hover {
	background-position: 0 -43px;
	color: #fff;
}
.indented {margin-left: 62px;}
.indented .picture,
.indented .picture img {
	width: 38px;
	height: 38px;
}
.comment ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.comment ul ul {
	list-style: none;
	margin: 0 0 0 50px;
	padding: 0;
}

/* commentform */
#respond {
	position: relative;
	margin-bottom: 40px;
}
.comment #respond {
	border-top: solid 1px #483f32;
	margin-top: 2px;
}
#respond .cancel-comment-reply {
	position: absolute;
	top: 5px;
	right: 0;
}
#respond #cancel-comment-reply-link {
	font: .8em/1em sans-serif;
	text-transform: uppercase;
	background: url(../images/cancel-reply.png) no-repeat right center;
	padding: 4px 16px 2px 0;
	text-decoration: none;
	color: #000;
}
#respond #cancel-comment-reply-link:hover {
	text-decoration: underline;
}

#commentform input[type=text] {
	width: 210px;
	margin-right: 5px;
	padding: 5px 7px;
}
#commentform label {
	font-weight: bold;
}
#commentform label small {
	font-weight: normal;
}
#commentform textarea {
	width: 97%;
	height: 180px;
	padding: 10px 7px;
}

#commentform input#submit {
	background: url(../images/submit-btn.png) no-repeat;
	width: 172px;
	height: 32px;
	font: small-caps 1em/1em sans-serif;
	color: #fff;
	border: none;
	padding: 2px 0 6px;
}
#commentform input#submit:hover {
	background-position: 0 bottom;
}


/* content end
-------------------------------------------------*/

/* sidebar
-------------------------------------------------*/
#sidebar {
	float: right;
	width: 266px;
	margin: 45px 0 70px;
	font-size: .9em;
	line-height: 1.4em;
	color: #7b6043;
}

#sidebar h4, #sidebar .blocktitle {
	color: #644c33;
	font: bold 1.35em/1em sans-serif;
	letter-spacing: -.05em;
	margin: 0 0 7px;
	padding: 0 0 7px;
	position: relative;
	border-bottom: double 4px #b09370;
	text-transform: none;
	text-shadow: 0 1px 0 #f7e4c8;
}
#sidebar h4 a, #sidebar .blocktitle a {
	text-decoration: none;
	color: #58422b;
}
#sidebar h4 a:hover, #sidebar .blocktitle a:hover {
	text-decoration: none;
	color: #e50000;
}


#sidebar ul {
	list-style: none;
	margin: 0 0 1em;
	padding: 0;
}
#sidebar ul ul {
	margin: 0 0 0 15px;
	list-style: circle;
}
#sidebar ul li {
	margin: 8px 0;
	padding: 0;
	list-style: none;
}
#sidebar ul ul li {
	margin: 5px 0;
}
#sidebar ul a {
	text-decoration: none;
}
#sidebar ul a:hover {
	color: #e50000;
}

/* widgets */
#sidebar .block {
	margin: 0 0 35px;
}
#sidebar #searchform {
	position: relative;
	margin: 0;
	right: auto;
	bottom: auto;
}
#sidebar #wp-calendar caption {
	font-weight: bold;
	padding-bottom: 10px;
}
#sidebar #wp-calendar td {
	width: 31px;
	padding: 4px 2px;
	text-align: center;
}
/* sidebar end
-------------------------------------------------*/

/* footer
-------------------------------------------------*/
#footer {
	clear: both;
	background: url(../images/footer.gif) no-repeat center bottom;
	border-top: double 4px #b09370;
	padding: 10px 0 50px;
	position: relative;
	width: 100%;
	overflow: hidden;
	font: .9em/1.4em sans-serif;
	color: #685138;
}
#footer a {
	text-decoration: none;
	color: #453320;
}
#footer a:hover {
	text-decoration: underline;
}
#footer .footer1 {
	float: left;
	width: 270px;
	margin-right: 30px;
}
#footer .footer1 ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#footer .footer1 ul li {
	padding: 0 0 15px;
	margin: 0;
}
#footer .footer1 em {
	font: italic 1em/1em sans-serif;
	color: #72614a;
}
#footer .footer2 {
	float: left;
	width: 270px;
}
#footer .footer2 ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#footer .footer2 ul li {
	width: 100%;
	padding: 0 0 10px;
	margin: 0;
	overflow: hidden;
}
#footer .footer2 cite {
	font: italic 1em/1em sans-serif;
	display: block;
	float: right;
	color: #72614a;
}
#footer .footer3 {
	float: right;
	width: 360px;
	margin-bottom: 20px;
}
#footer .footer3 .block {
	margin-bottom: 20px;
}

#footer h4 {
	font: bold 1.5em/1em sans-serif;
	margin: 10px 0;
	color: #453320;
}

#footer .credits {
	font: .9em/1em sans-serif;
	position: absolute;
	bottom: 10px;
	margin: 0;
	padding: 0;
	color: #72614a;
}
#footer .credits a {
	color: #453320;
}
#footer .credits span {
	margin: 0 6px;
}
/* footer end
-------------------------------------------------*/

/* wordpress post formating, etc.
-------------------------------------------------*/
img.alignleft, img.aligncenter, img.alignright, img.alignnone {
	padding: 5px;
	background: #fff;
	border-bottom: solid 2px #d1ad80;
}
.alignleft {
	float: left;
	margin-right: 20px;
}
.alignright {
	float: right;
	margin-left: 20px;
}
.aligncenter {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.caption {
	text-align: center;
	margin-bottom: 15px;
}
.caption img {
	padding: 5px;
	background: #fff;
	border-bottom: solid 2px #d1ad80;
}
.caption-text {
	font: italic 1.2em/1.1em sans-serif;
	margin: 3px 0 10px;
	padding: 0 15px;
	color: #584d3f;
}
/* wordpress post formating end
-------------------------------------------------*/
ul.primary {text-align: right; margin-left: 110px;}
ul.primary li a {background: none}
ul.primary li a:hover,
ul.primary li.active a {background: none; color: #E50000; border-bottom: none}
#user-login-form {text-align: left}
#user-login-form input[type=text], 
#user-login-form input[type=password] {width: 200px}
table {
	width:100%;
}