/**
 * $id$
 *
 * Pinstripes theme style.css
 * created by Fleur Helsingor on December 2, 2009
 *
 */

body {
  background-image : url(background.gif);
  color : #000;
  font-family : arial, helvetica, sans-serif;
  font-size : 80%;
  width : 960px;
  margin-top : 18px;
  margin-left : auto;
  margin-right : auto;
  margin-bottom : 36px;
  border : 2px solid #69c;
}

/* layout styles */

#logo-title {
  float : left;
  width : 100%;
  padding-bottom : 12px;
}

#logo {
  float : left;
  position : relative;
  z-index : 20;
}

#logo img {
  display : block;
}

#name-and-slogan {
  position : relative;
  top  : 6px;
  left : 12px;
  z-index : 10;
}

#search-box {
  position : relative;
  top : 1em;
  text-align : right;
}

#container {
  clear : both;
}

#navigation #primary {
  border-top: 1px solid #cc9;
  padding-bottom : 1px;
  border-bottom: 1px solid #cc9;
  margin-bottom : 0px;
}

#navigation #secondary {
  text-align : left;
  padding-bottom : 12px;
}

#sidebar-left,
#main,
#sidebar-right {
  float : left;
  display : inline;
}

#sidebar-left,
#sidebar-right {
  width : 20%;
}

body.one-sidebar #main {
  width : 79.5%;
}

body.two-sidebars #main {
  width : 59.5%;
}

body.sidebar-left #main-squeeze {
  margin-left : 12px;
  margin-right : 24px;
}

body.sidebar-right #main-squeeze {
  margin-left : 24px;
  margin-right : 12px;
}

body.two-sidebars #main-squeeze {
  margin-left : 36px;
  margin-right : 36px;
}

/* XHTML elements */

p {
  padding : 0 0 1.4em 0;
  margin : 0px;
  line-height : 1.4em;
}

a:link {
  color : #369;
  text-decoration : none;
}

a:visited {
  color : #369;
  text-decoration : none;
}

a:hover {
  color : #996;
  text-decoration : underline;
}

a:active {
  color : #996;
  text-decoration : none;
}

div#page {
  padding : 12px;
  background-color : #fff;
}

h1#site-name {
  font-size : 2em;
  letter-spacing : 2px;
  margin-top : .3em;
  margin-bottom : 0;
}

h1#site-name a,
h1#site-name a:link,
h1#site-name a:visited,
h1#site-name a:focus,
h1#site-name a:hover,
h1#site-name a:active {
  color : #369;
  text-decoration : none;
}

h1.title {
  color : #333;
  font-size : 125%;
  font-weight : bold;
  margin-top : 6px;
  border-bottom : 4px solid #cc9;
  margin-bottom : 9px;
}

h2, h2.title {
  font-size : 112%;
  margin-top : 24px;
  margin-bottom : .7em;
}

h3 {
  font-size : 100%;
  margin-top : 24px;
}

#site-slogan {
  color : #663;
  margin-bottom : 6px;
}

#mission {
  font-size : 100%;
  color : #663;
  margin-top : 12px;
  margin-bottom : 24px;
}

.sidebar {
  font-size : 95%;
}

#user-login-form {
  text-align : left;
}

#breadcrumb{
  margin : 0px;
  padding-left : 6px;
  padding-top : 6px;
  font-size: 85%;
}

div.meta,
div.feed-item-meta {
  font-size : 85%;
}

#aggregator,
#tracker {
  line-height: 1.4;
}

#footer {
  text-align : left;
  font-size : 90%;
  margin-top : 24px;
  border-top : 2px solid #cc9;
}

#footer img {
  vertical-align : bottom;
}

#footertheme {
  font-size : 100%;
}

/* for any two-column layouts in the Content column */
.leftColumn, .rightColumn {
  float : left;
  width : 46%;
}

/* if the Administration Menu is in use */
#admin-menu a:link, #admin-menu a:visited {
  color : #fff;
  background-color : #101010;
}

/* if a page section is intended for printing only and should not be displayed in other media */
.printOnly { 
  display : none;
}

/* if a page section is intended to be displayed only on a hand held or mobile device */
.handheldOnly {
  display : none;
}
