/* $Id: style.css,v 1.2.2.3 2010/10/30 18:02:01 trisz Exp $
Drupal themes designed by Nemketto.com.
Created Aug 15, 2010, Last Updated: Aug 15, 2010 */

/* Basic Stuff */

*
{
}

body
{
color:#262A1D;
font: medium/150% Verdana,Arial,Helvetica,sans-serif;/*IE teszt!!! mi a medium???*/
margin: 0;
width: auto;
}

h1,h2,h3,h4,h5,h6
{
font-weight: normal;
letter-spacing: -1px;
line-height: 2.5em;
}

h1
{
font-size: 1.6em;
}


h2
{
font-size: 1.4em;
}

h3,h4,h5,h6
{
font-size: 1.2em;
color: #262A1D;
}

h1 span
{
font-weight: bold;
}

h3 span
{
font-weight: bold;
}

h4 span
{
font-weight: bold;
}

br.clear
{
clear: both;
}


img.floatTL
{
float: left;
margin-right: 1.5em;
margin-bottom: 1.5em;
margin-top: 0.5em;
}

a
{
color:#5B7B23;
text-decoration:none;
}

a:hover
{
text-decoration: underline;
color:#5B7B23;
}

ul.links
{
list-style: none;
}

ul.links li {
font-weight: bold;
display:inline;
list-style-type:none;
}

ul.links li.first
{
}

p
{
line-height: 1.6em;
}

.item-list ul.pager
{
margin: 0px;
padding-top: 10px;
}

.item-list .pager li
{
margin: 0px;
padding: 3px;
border-style:none;
border-width:1px;
}

.item-list .pager li.pager-current
{
padding: 4px;
text-decoration:none;
background-color: #E2E6DB;
border-width:2px;
border-style:solid;
}

.item-list .pager li.pager-ellipsis
{
padding: 4px;
border-style:none;
}

.item-list .pager li.pager-item
{
border-style:solid;
}

dl, dd
{
margin: 0 0 0.5em 1.5em;
}

dt
{
font-weight: bold;
}



.block ul
{
margin:0;
padding:0 0 1em 1em;
font-size:0.95em;
}

.block .item-list ul
{
margin:0;
padding:0 0 0em 0em;
}


.messages
{
background-color:#EDF5D7;
border:2px solid #D6DFB9;
color:#65743D;
margin:1em 0;
padding:0.8em;
}

.messages .warning, .messages tr.warning
{
background-color: #FFFFDD;
border:2px solid #222200;
color: #222200;
padding:2px;
}

.messages .error, .messages tr.error
{
background-color: #F8E7E7;
color:#BA1212;
border:2px solid #EDC8C8;
padding:2px;
}

.block
{
border-bottom: 1px solid #C0C0C0;
-moz-border-radius: 7px 7px 7px 7px;
-webkit-border-radius: 7px 7px 7px 7px;
-khtml-border-radius: 7px 7px 7px 7px;
border-radius: 7px 7px 7px 7px;
padding: 5%;
margin: 0.75em 0 1em 0;
background-color:#E2E6DB;
border:1px solid #AFBA9C;
padding:0;
}

.block .content
{
padding: 0 1em 0.25em 1em;
}


/* Header */

#header
{
width:100%;
height:199px;
background: url(banners/rotateimg.php) no-repeat left top;
background-color: #415231;
}

#header_inner
{
position: relative;
height:163px;
}

/* Logo */

#logo
{
height:163px;
left:92%;
padding-left:20px;
position:absolute;
}

#logo h1
{
display: inline;
color: #fff;
font-size: 48px;
}

#logo h2
{
display: inline;
padding-left: 0.5em;
color: #E5CCD0;
font-size: 24px;
}

/* Menu */

#menuseparator 
{
}


#menu
{
height:36px;
margin: 0 0 0 0;
position:relative;
top:163px;
width:100%;
z-index:100;
text-align:center;
}

#menu ul
{
list-style: none;
white-space:nowrap;
}


#menu li
{
background-color:#08906;
line-height:36px;
padding: 0;
}


#menu a:hover
{
border: solid 1px transparent;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
-khtml-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
text-decoration: underline;
}

#menu l
{
left:0;
right:0;
}

#menu .l, #menu .r
{
height:36px;
position:absolute;
top:0;
z-index:-1;
}

#menu li a
{
background:url("images/MenuSeparator.png") no-repeat scroll right 5px transparent;
padding: 7px 10px 7px 10px;/*gombok magassaga*/
color: #000000;
font-weight: bold;
font-size: 16px;
text-transform: lowercase;
text-decoration: none;
border:1px solid transparent;
margin: -3px;/*separator overlap*/
}

#menu li a.active
{/*menu labels active*/
background: #96CB2F url('images/button.png') repeat-x;
border: 1px solid #5EAA49;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
-khtml-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
}

#menu .last a
{
background: none;
}


/* Main */

#main
{
margin-top: 0.5em;
min-width: 750px;/*column wrapping limit*/
}

#main_inner
{
position: relative;
float: right;
width: 77%;
margin: 0;
padding: 0.75em 1.2% 0 0;
}

#main_inner p
{
text-align: justify;
margin-right: 0%;
}

#main_inner ul
{
}

#main_inner h1,h2,h3,h4
{
letter-spacing: 0px;
}

#main_inner h3,h4
{
position: relative;
}

#main_inner h3
{
font-size: 1.3em;
line-height: 1.4em;
padding-bottom: 0.1em;
margin-bottom: 0.8em;
margin-top: 0;
}

#main_inner h4
{
font-size: 1.2em;
padding-bottom: 0.175em;
margin-bottom: 1.4em;
margin-top: 0.95em;
}

#main_inner .post
{
position: relative;
}

#main_inner .post h3
{
position: relative;
font-size: 1.7em;
padding-bottom: 1.2em;
}

#main_inner .post ul.post_info
{
list-style: none;
position: absolute;
top: 3em;
font-size: 0.8em;
}

#main_inner .post ul.post_info li
{
background-position: 0em 0.2em;
background-repeat: no-repeat;
display: inline;
padding-left: 18px;
}

#main_inner .post ul.post_info li.date
{
background-image: url('images/n5.gif');
}

#main_inner .post ul.post_info li.comments
{
background-image: url('images/n6.gif');
}

#main_inner .comment
{
}


/*Triangle + comment bubble*/
.commentbubble
{
position:relative;
padding:15px;
margin:2em 0 1.2em;
border:1px solid #BBBBBB;
color:#404938;
background:#FFFFFF;
-moz-border-radius:10px;
-webkit-border-radius:10px;
-khtml-border-radius: 10px;
border-radius:10px;
}

.commentbubble:before
{
content:"\00a0";
display:block; 
position:absolute;
bottom:-40px; 
left:40px; 
width:0;
height:0;
border:20px solid transparent;
border-top-color:#BBBBBB;
}

.commentbubble:after
{
content:"\00a0";
display:block; 
position:absolute;
bottom:-39px;
left:40px; 
width:0;
height:0;
border:20px solid transparent;
border-top-color:#fff;
}

.comment .submitted
{
padding:0 0 0 60px;
}

.comment .new
{
font-style:italic;
font-weight:bold;
text-decoration:blink;
}


.navbg
{
position: absolute;
top: 163px;/*menu bg pos*/
width: 100%;
height: 38px;/*thickness*/
z-index: 10;/*bottom layer*/
top: 1;
background: url("images/nav.png") repeat scroll 0 0 #FFFFFF;
}


/* Footer */

.Footers
{
background-color: #F1F5E9;
border-top: 1px solid #AFBA9C;
border-bottom: 1px solid #AFBA9C;
margin: 0;
padding: 0;
}

.Footers img
{
padding: 0 1em 0 1em;
}

.Footers .block
{
background-color: transparent;
border: medium none;
}

.footer_bottom
{
width: 98%;
margin: 1%;
text-align: center;
}

.footer_bottom .block
{
margin: 0;
text-align: center;
}

.footer_left
{
float: left;
width: 32%;
padding-left: 1%;
padding-right: 0%;
margin-top: 1%;
}

.footer_middle
{
float: left;
width: 32%;
margin-left: 1%;
margin-top: 1%;
padding-right: 0%;
border-left: 1px solid #AFBA9C;
border-right: 1px solid #AFBA9C;
}

.footer_right
{
float: right;
width: 32%;
margin-top: 1%;
padding-left: 0%;
padding-right: 1%;
}


/* Search */

input.button
{
background: #CA2F2F url('images/button.png') repeat-x;
color: #fff;
border: solid 1px #A94B4B;
font-weight: bold;
text-transform: lowercase;
font-size: 0.8em;
height: 2.0em;
}

input.text
{
border: solid 1px #F1F1F1;
font-size: 1.0em;
padding: 0.25em 0.25em 0.25em 0.25em;
}

#search
{
position: relative;
width: 60%;
margin-bottom: 2.0em;
}

#search input.text
{
position: absolute;
top: 0em;
left: 0em;
width: 9.5em;
}

#search input.button
{
position: absolute;
top: 0em;
right: 0em;
min-width: 2.0em;
max-width: 2.5em;
}

/* LAYOUT - 3 COLUMNS */


#featured_3columns
{
margin: 0;
padding: 0;
}

.featured
{
margin: 0;
padding: 0;
}

#featured .content
{
padding:0 0.5em 0 1em;
}


#featured .block
{
margin:0;
padding:0;
background-color:#F1F5E9;
border: 1px solid #AFBA9C;
}

#featured .block ul
{
font-size:1em;
}

#block-menu-menu-featuredblogs
{
margin:0;
padding:0 0 0 1em;
background-color:#F1F5E9;
}


#featured .block h2
{
background: url('images/FeaturedHeader.png') no-repeat scroll left bottom transparent;
margin:0 0.8em;
font-weight:bold;
}

/* Primary content */

#primaryContent_3columns
{
padding:0;
margin:0;
color: #404938;
}

#columnA_3columns
{
position: relative;
padding:0;
margin:0;
float: left;
}

#primaryContent_3columns h2
{
}


/* Secondary Content */

#secondaryContent_3columns
{
float: left;
width: 20%;
}

#columnB_3columns
{
width: 95%;
float: left;
padding: 0 0 0 5%;
margin: 0;
}

#columnB_3columns .content
{
padding: 0 0 0 1em;
margin: 0;
}

#columnC_3columns
{
width: 90%;
float: right;
padding: 5%;
margin: 0;
}


li.leaf
{
/*ind*/
list-style-type: square;
}


.item-list ul li
{
font-size:0.95em;
}


li.collapsed
{
list-style-type:none;
list-style-image: none;
}

li.expanded
{
list-style-type: none;
list-style-image: none;
}


textarea, select
{
border:1px solid #b0b0b0;
margin:0 4px 0 0;
font-size:11px;
}

input
{
font-size:12px;
border:1px  solid #b0b0b0;
}

/*green buttons*/

.form-submit
{
background:#B0BB9D url(images/submitbutton.png) repeat-x scroll 0 0;
border:1px solid #AFBA9C;
display: inline-block;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
-khtml-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
font-size:16px;
font-weight:bold;
margin: 0.6em 0.6em 0.6em 0;
padding: 5px;
}

span.submitted { font-size: 0.8em; color: #999999; padding: 0; }

.breadcrumb
{
padding-bottom: 0.5em;
padding-top: 1em;
}


.profile img
{
padding-top:38px;
}

#content .admin
{
clear:none;
display:inline-block;
}
.node-form
{
clear:none;
display:inline;
}

.profile
{
clear:none;
display:inline-block;
}

div.admin .right, div.admin .left
{
width: 45%;
}

#content
{
overflow-y:hidden;
overflow-x:auto;
}

.site-name a
{
color:#FFFFFF;
display:inline;
font-size:48px;
text-shadow: 0 0 0.12em #005500, 0 0 0.11em #449944, 0 0 0.1em #FFFFFF;
position:absolute;
right:0;
text-decoration:none;
top: 20px;
}

.site-slogan
{
display: inline;
padding-left: 0.5em;
color: #e5ccd0;
font-size: 1em;
}


h2.title a
{
color: #262A1D;
text-decoration:none;
font-weight:bold;
}

.Footers h2.title/*footer labels*/
{
padding: 1em;
text-align:left;
line-height:1em;
font-weight:bold;
}

.Footer3 h2.title/*footer labels*/
{
/*background:url("images/Footer3.png") no-repeat scroll 1em bottom transparent;*/
margin: 0;
padding-top: 0;
}

.footer_bottom h2.title/*footer labels*/
{
background:url("images/FooterBottom.png") no-repeat scroll 1em bottom transparent;
}

.Footers .content p /*only footers*/
{
margin:0;
padding: 0 1em 0 1em;
}

ul .links
{
margin-top:-10px;
}

.node
{
margin-top:10px;
clear:both;
}

#columnB_3columns h2
{ /*margin also has*/
color: #000000;
font-size:1em;
line-height: 30px;
text-transform: lowercase;
height: 30px;
padding:0 0 0 0.5em;
margin: 5%;
background: url("images/BlockHeader.png");
position: relative;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
-khtml-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
}

#columnA_3columns .profile h3
{
font-size:16px;
position: relative;
}

#columnA_3columns h1.title
{
font-size:1.8em;
font-weight:bold;
color: #00660F;
position: relative;
}

#columnA_3columns h2.title
{
position: relative;
}

#columnC_3columns h3
{
font-size:15px;
padding-top:5px;
position: relative;
}

#columnA_3columns .admin-panel h3
{
	font-size:16px;
	padding-top:10px;
}

ul.primary
{
border-bottom:1px solid #BBBBBB;
border-collapse:collapse;
height:auto;
line-height:normal;
list-style:none outside none;
margin: 0;
padding:0 0 0 1em;
white-space:nowrap;
}


.form-item label
{
display: inline;
font-size:0.9em;
color: #00660F;
}

ul.primary li.active a{color:#005500;}/*link color*/


/*RESOLVING PROBLEMS*/
#comments
{
clear:both;
position:relative;
}


/*drupal system.css corrections*/
ul.primary li a
{
color:#404938;
background-color:#E2E6DB;
border-color:#AFBA9C;
line-height:1.7em;
margin-right:0.5em;
padding:0.3em;
}

ul.primary li a:hover
{
background-color:#F1F5E9;
border-color:#AFBA9C;
}

ul.links.inline
{
display:inline;
line-height:4em;
}/*tags, add comment*/

.page-footer
{
color: #FFFFFF;
background: #4A5B45;
padding: 5px;
}

.page-footer a
{
color: #FFFFFF;
}

.page-footer table
{
/*border-collapse:separate; MAY BE A PROBLEM?*/
}

.preview .node
{
background-color: #F9FFE9;
}

tbody
{/*override ugly top line*/
border-top:medium none;
}

.page-footer hr
{
border:1px solid #FFFFFF;
height:1px;
}


/*BUGFIXES*/

#columnA_3columns
{
width:100%;/*????*/
}

/*third party gallery assist may conflict with this theme*/
.ga-image-display img
{
width: auto !important;
}

.clear-block
{
clear: right;/*admin 2 colomn*/
}
