
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: url(images/top_bg.jpg) repeat-x;
	padding: 0;
	margin: 0;
	color: #444;
}

/**
 * IDs
 */
#header {
	height: 86px;
	width: 980px;
	margin: 0 auto;
	background: url(images/top_innerbg.jpg) no-repeat center top;
}
#sitename {
	float: left;
	width: 300px;
	padding: 20px 0 0 14px;
}
#mainmenu {
	float: right;
	margin: 0 25px 0 0;
}
#main {
	width: 980px;
	margin: 0 auto;
	padding: 30px 0 0 0;
}
#left {
	width: 200px;
	float:left;
}
#right {
	width: 765px;
	float:left;
	padding: 0 0 0 14px;
	border-left: 1px solid #CCC;
	line-height: 18px;
}
#footer {
	clear: both;
	padding: 10px 0 0 0;
	margin: 20px 0 0 0;
	border-top: 2px solid #e6ecf3;	
}
#footer #themeby {
	float:right;
	width: 200px;
	text-align: right;
	font-size: 11px;
}
#footer .block {
	margin: 0;
}
/**
 * Selectors
 */
h1 {
	color: #FFF;
	font-size: 30px;
	margin: 0;
	font-family: "Century Gothic", Verdana, Arial;
	font-weight: lighter;
}
#right h1 {
	color: #333;
}
h2 {
	color: #4f5a68;
	font-size: 27px;
	font-family: "Century Gothic", Verdana, Arial;
	font-weight:lighter;
	margin: 8px 0 5px 0;
}
#header h1 {
	float:right;
}
#header h1 a {
	color: #FFF;
}
#header h1 a:hover {
	color: #EEE;
}
#left h2 {

	font-size: 20px;
}
#right h2 {
	margin: 10px 0 25px 0;
}
table {
	width: 95%;
}
table td {
	padding: 2px;
}
thead th {
	border-bottom:1px solid #CCCCCC;
	padding-right:1em;
	text-align:left;
}
table tr.even {
	background: #ecf2f8;
}
table tr.odd {
	background: #f6f9fc;
}
tr.even, tr.odd {
	background-color: #FFF;
	border-bottom:1px solid #dde6ef;
	padding:0.1em 0.6em;
}
td.active {
	background: #d2e0ed;
}
dt {
	font-size: 14px;
	margin: 15px 0 0 5px;
}

a {
	color: #055aba;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #4a9ee5;
}
#right a:hover {
	text-decoration: underline;
}
fieldset {
	border: 1px solid #c6d2df;
}
/**
 * Menus
 */
#left ul.menu {
	margin: 0;
	padding: 0;
	list-style: none;
}
#left ul.menu li {
	margin: 0;
	padding: 0;
	list-style: none;
}
#left ul.menu li a {
	background: url(images/menuleft.jpg) top;
	display: block;
	height: 20px;
	margin: 1px;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	padding: 6px 0 0 10px;
	text-decoration: none;
}
#left ul.menu li a:hover {
	background: url(images/menuleft.jpg) bottom;
}
#left ul.menu ul.menu {
	padding: 0 0 0 10px;
}
#left ul.menu ul.menu li a {
	background: #FFF;
	color: #333;
	border: none;
	font-weight: normal;
	border-bottom: 1px dotted #CCC;
	background: url(images/submenu.jpg) left no-repeat;
	padding-left: 20px;
}
#left ul.menu ul.menu li a:hover {
	color: #666;
}
ul.primary-links {
	margin: 45px 0 0 0;
}
ul.primary-links li {
	float: left;
}
ul.primary-links a {
	display: block;
	padding: 12px 18px 6px 18px;
	background: yellow;
	color: #000;
	font-size: 14px;
	background: url(images/primarylinks.jpg) top;
}
ul.primary-links a:hover {
	background: url(images/primarylinks.jpg) bottom;
}

/**
 * classes
 */
.breadcrumb {
	font-size: 13px;
}
.breadcrumb a{ 
	color: #333;
	text-decoration: none;
}
.messages {
	padding: 8px !important;
	font-size: 14px;
}
.help {
	font-size: 14px;
	color: #555;
}
ul.primary {
	margin: 20px 0 20px 0;
}
ul.primary li a {
	font-size: 14px;
	background-color: #eef7ff;
}
#comments {
	width: 600px;
}
.comment {
	padding: 8px;
	border: 1px solid #ccc;
	margin: 4px;
}
.comment .submitted {
	font-size: 10px;
	color: #bbb;
	display:block;
	float:right;
}
.comment h3 {
	margin: 4px 0 8px 0;
	border-bottom: 1px dotted #ccc;
	padding-bottom: 3px;
}
.block {
	margin: 10px 0 25px 0;
}
.block .item-list {
	margin: 10px 0 0  0;
}
.block .item-list li {
	text-align: center;
	margin: 0;
	padding: 0;
	list-style: none;
}
.block ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
#user-login-form li.openid-link, #user-login li.openid-link {
	padding: 0 0 0 20px;

	background: transparent url(/modules/openid/login-bg.png) no-repeat top left;
}
.node {
	padding: 0 0 30px 0;
	border-bottom: 1px solid #e6ecf3;
}
/**
 * Inner page classes
 */
#right .links {
	margin: 20px 0 0 0;
}
#right .links a {
	padding: 3px 7px 3px 7px;
	background: url(images/primarylinks.jpg) no-repeat bottom;
	border: 1px solid #d0a038;
	color: #000;
}
#right .links a:hover {
	background: url(images/primarylinks.jpg) no-repeat top;
}


/**
 * fixes
 */

.fieldset-wrapper {
	overflow: hidden !important;
}
/**
 * page specific
 */
.node h2 {
	font-size: 20px;
}

